<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Tap Data</title>
	<style>
		body {
			font-family: Arial, sans-serif;
		}

		table {
			border-collapse: collapse;
			width: 100%;
		}

		img {
			width: 30px;
			height: 20px;
		}

		th,
		td {
			text-align: left;
			padding: 8px;
			border: 1px solid #ddd;
		}

		th {
			background-color: #f2f2f2;
		}
	</style>
</head>

<body>
	<h2>http://link/yyyy/mm</h2>
	<h1>
		<%= month %>-<%= year %>
	</h1>
	<table id="tap-table">
		<thead>
			<tr>
				<th data-col="userID">User ID</th>
				<th data-col="fullName">Full Name</th>
				<th data-col="tap">Tap</th>
				<th data-col="date">Date</th>
				<th data-col="reason">Reason</th>
				<th data-col="proofURL" style="width: 20%;">Proof URL</th>
				<th data-col="time">Hour</th>
			</tr>
		</thead>
		<tbody>
			<% taps.forEach(function(tap) { %>
				<tr>
					<td>
						<%= tap.userID %>
					</td>
					<td>
						<%= tap.fullName%>
					</td>
					<td>
						<%= tap.tap %>
					</td>
					<td>
						<%= tap.date.toLocaleString() %>
					</td>
					<td>
						<%= tap.reason %>
					</td>
					<td>
						<% if (tap.proofURL) { %>
							<a href="<%= tap.proofURL %>">Proof Link</a>
							<% } else { %>
								<!-- Display nothing if proofURL doesn't exist -->
								<% } %>
					</td>
					<td>
						<%= tap.hour %>:<%= tap.minute %>
					</td>
				</tr>
				<% }); %>
		</tbody>
	</table>

</body>

</html>